<!-- Registration view. Few hints for design used from http://www.prepbootstrap.com/bootstrap-template/registration-form.
Many changes made and all Angular js elements added by Max. -->
<div class="row">
    <div class="col-sm-12">
    	<!-- Registration form. On submit, data is passed to the authentication service, through the Registration controller, and an account gets created for the user. Angularjs used for form validation and submission. -->
    	<!-- Each field in the form has it's own way of validation and messages are displayed every time when something goes wrong. -->
	    <form role="form" name="registerForm" id="registerForm" ng-submit="register()"novalidate>
	        <div class="col-lg-12">
	            <div class="well well-sm"><strong><span class="glyphicon glyphicon-asterisk"></span> Required Field</strong></div>
	            
				<div class="form-group">
	                <label for="InputEmail">Enter Username</label>
	                <div class="input-group">
	                    <input type="text" class="form-control" id="Inputusername" name="Inputusername" ng-model="user.Inputusername" placeholder="Enter Username" ng-required="true">
	                    <span class="input-group-addon"><span class="glyphicon glyphicon-asterisk"></span></span>
	                </div>
	            </div>
	            <!-- A message is displayed for the above field if is left empty. -->
	            <p class="error validationerror" ng-show="registerForm.Inputusername.$invalid && registerForm.Inputusername.$touched">This field cannot be empty</p>

	            <div class="form-group">
	                <label for="InputEmail">Enter Email</label>
	                <div class="input-group">
	                    <input type="email" class="form-control" id="InputEmailFirst" name="InputEmail" ng-model="user.inputEmail" placeholder="Enter Email" ng-required="true" >
	                    <span class="input-group-addon"><span class="glyphicon glyphicon-asterisk"></span></span>
	                </div>
	            </div>
	            <!-- A message is displayed for the email field if is left empty or the email is not in a valid format -->
	            <p class="error validationerror" ng-show="registerForm.InputEmail.$invalid && registerForm.InputEmail.$touched">Must be a valid email</p>

	            <div class="form-group">
	                <label for="InputEmail">Confirm Email</label>
	                <div class="input-group">
	                    <input type="email" class="form-control" id="InputEmailSecond" name="InputConfirmEmail" placeholder="Confirm Email" ng-model="user.inputEmailSecond" ng-required="true" match="user.inputEmail">
	                    <span class="input-group-addon"><span class="glyphicon glyphicon-asterisk"></span></span>
	                </div>
	            </div>
	            <!-- A message is displayed for the confirmation email field if is left empty, the email is not in a valid format or if the confirmation email does not match wirh the first email. Angular validation match library used for for the match function. -->
	            <p class="error validationerror" ng-show="registerForm.InputConfirmEmail.$invalid && registerForm.InputConfirmEmail.$touched && registerForm.InputConfirmEmail.$error.match">Confirm Email is not valid or emails do not match</p>
	            

	            <div class="form-group">
	                <label for="InputMessage">Enter Password</label>
	                <div class="input-group">
	                    <input type="password" class="form-control" id="InputPasswordFirst" name="InputPassword" placeholder="Enter Password" ng-model="user.inputPassword" ng-required="true">
	                    <span class="input-group-addon"><span class="glyphicon glyphicon-asterisk"></span></span>
	                </div>
	            </div>
	            <!-- A message is displayed for the password field if is left empty or is invalid -->
	            <p class="error validationerror" ng-show="registerForm.InputPassword.$invalid && registerForm.InputPassword.$touched">Password is required</p>

	            <div class="form-group">
	                <label for="InputMessage">Confirm Password</label>
	                <div class="input-group">
	                    <input type="password" class="form-control" id="InputPasswordSecond" name="InputPasswordSecond" placeholder="Confirm Password" ng-model="user.InputPasswordSecond" ng-required="true" match="user.inputPassword">
	                    <span class="input-group-addon"><span class="glyphicon glyphicon-asterisk"></span></span>
	                </div>
	            </div>
	            <!-- A message is displayed for the confirmation password field if is left empty, is invalid or it does not match with the other password field -->
				<p class="error validationerror" ng-show="registerForm.InputPasswordSecond.$invalid && registerForm.InputPasswordSecond.$touched && registerForm.InputPasswordSecond.$error.match">Confirm Password is required</p>

				<!-- Submit button, only enabled after all fields were successfully validated -->
	            <button type="submit" name="submit" id="submit" class="btn btn-info pull-right" ng-disabled="registerForm.$invalid">Submit</button>

	        </div>
	    </form>

	</div>


</div>
    